[Unit]
Description=Raspberry Pi Info API
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/sbin/rpimonitorapi/run.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
